awscli==1.17.13
ansible==2.9.5
yq==2.11.1
ansible==2.9.5
openstacksdk==0.52.0
python-openstackclient==5.4.0
python-neutronclient==7.3.0
openshift==0.11.2
wheel==0.36.2
pip==21.0.1
ansible-lint==4.3.5
netapp-lib==2020.7.16
dnspython==2.1.0
boto3
molecule-docker
molecule==3.0.8
